<!DOCTYPE html>
<html>
<head>
    <title>Financial Planner</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/styles.css' %}">
</head>
<body>
    <h1>Welcome to Financial Planner</h1>
    <nav>
        <ul>
            <li><a href="{% url 'add_income' %}">Add Income</a></li>
            <li><a href="{% url 'add_expense' %}">Add Expense</a></li>
            <li><a href="{% url 'report' %}">View Report</a></li>
            <li><a href="{% url 'predict' %}">Predict Finances</a></li>
        </ul>
    </nav>
</body>
</html>
